<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="OutputFileHeader" value="Network,Product,Month,Count,Sum"/>
    <add key="OutputFileName" value="Output.csv"/>
    <add key="InputFileDateFormat" value="dd-MMM-yyyy"/>
  </appSettings>
</configuration>